/*-------- Programmes --------*/
.programmes {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}


.programme_column {
    flex-basis: 150%;
    background: brown;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;

    transition: 0.5s;

    h3 {
        text-align: center;
        font-weight: 600;
        margin: 10px 0;
    }
}

.programme_column:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0.2);
}