/*----- Testimonials -----*/
.testimonials {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.testimonial_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 2rem;
    background: #fff3f3;
    cursor: pointer;
    height: 15rem;
    overflow: hidden;
    outline: 1px solid brown;
    transition: all .3s ease-in-out;
}

.testimonial_column:hover {
    outline-offset: 5px;
    transform: scale(1.1);

}

.image_container {
    height: 6rem;
    width: 6rem;
    /* overflow:hidden ; */

}

.image_container > img {
    object-fit: cover;
    aspect-ratio: auto;
    height: 100%;
    width: 100%;

}

.testimonial_column img {
    border-radius: 50%;

}

.testimonial_column p {
    padding: 0;
}


.testimonial_column .fa {
    color: brown;
}

@media screen and (min-width: 700px) {
    .testimonial_column {
        flex-direction: row;
        padding: 0;
        height: auto;
    }

    .image_container {
        height: 100%;
        width: 110%;
        overflow: hidden;
    }

    .testimonial_column img {
        height: 100%;
        border-radius: 0;

    }
}