*,
*::before,
*::after {

    box-sizing: border-box;
}

:root {
    --sm-fs: .89rem;
    --n-fs: 1.rem
}


.heading {
    font-size: 26px;
    font-weight: 600;
}

.heading_summary {
    width: 100%;
    text-align: center;
    text-wrap: balance;
    font-size: var(--sm-fs);
}


.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;

}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    /* border: 1px solid brown; */
    padding: 10px 20px;
    background: brown;
    /* position: relative; */
    cursor: pointer;
    border-radius: 1rem;
    font-size: .85rem;
}

.hero-btn:hover {
    border: 1px solid #C08F4F;
    background: #C08F4F;
    transition: 1s;
}

/*------ Call to Action ------*/
.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/images/dghcscomputer.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media (max-width: 700px) {
    .cta h1 {
        font-size: 24px;
    }
}


.formGroup input {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}


.formGroup button {
    padding: 10px 30px;
    cursor: pointer;
    background: brown;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons i {
    font-size: 22px;
    margin: 10px;
    cursor: pointer;

}


.icons .fa {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart-o {
    color: #f44336;

}

@media screen and (min-width:540px) {
    .hero-btn {
        padding: 12px 34px;
        font-size: 1rem;
    }

    .heading {
        font-size: 36px;
        font-weight: 600;
    }

    .heading_summary {
        width: 85%;
        font-size: var(--n-fs);
        /* text-align: center; */
    }
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }

}

/* #Indicator {
    width: 75px;
    border: none;
    background: #C08F4F;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
} */